ion-view(animation="slide-left-right")
	ion-header-bar.bar-stable
		h1.title Find Incidents

	ion-content(padding="true")

		button.button.button-block.button-positive(ng-click="setCurrent()") Use Current Location

		p(style="text-align:center;") OR

		.list
			label.item.item-input
					input( type="text" ng-model="loc" placeholder="Location" )

		button.button.button-block(ng-click="setCustom(loc)") Find
